*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(78, 78, 155);
}
.container {
    width: 100%;
    max-width: 500px;
    background-color: white;
    border-radius: 18px;
    padding: 35px;
    text-align: center;
    box-shadow: 0px 12px 50px black;
    & p {
        font-size: 20px;
    }
}
h1{
    margin-bottom: 10px;
}
.describe {
    color: grey;
    margin-bottom: 25px;
}
.gameinfo{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 25px;
}
.gameinfo div{
    flex: 1;
    background: rgb(239, 239, 255);
    padding: 15px ;
    border-radius: 8px;
}
.gameinfo span{
    display: block;
    font-size: 15px;
    margin-bottom: 5px;
    color: rgb(143, 142, 142);
}
.gameinfo strong{
    font-size: 22px;
    color: rgb(96, 96, 241);
}
.inputsec{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;

    & #guessinput{
        flex: 1;
        padding: 14px;
        border: 2px solid rgb(128, 128, 241);
        border-radius: 12px;
        font-size: 16px;
    }
    & #guessbtn{
        padding: 14px 20px;
        border-radius: 10px;
        border: none;
        background-color: blue;
        color: white;
        font-size: 16px;
        font-weight: bold;
    }
}
#guessbtn:hover{
    background: rgb(9, 9, 179);
    transform: translateY(-2px);
}
#message{
    font-weight: bold;
    margin-bottom: 25px;
    color: rgb(90, 88, 88);
}
.prevguesses{
    margin-bottom: 25px;
    & h3 {
        color: rgb(37, 37, 37);
        font-size: 20px;
    }
    & #guesslist{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;
    }
}
.newgame{
    width: 100%;
    padding: 14px;
    border: 2px solid rgb(128, 128, 241);
    border-radius: 10px;
    background: white;
    color: rgb(80, 80, 241);
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}
.newgame:hover{
    transition: ease-in 0.3s;
    background: blue;
    color: white;
}
    
    
