*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    background-color: black;
    & h1,p{
        color: white;
    }
    & h3{
        color: yellow;
    }
    
}
.container .image{
   display: flex;
   flex-direction: column;
   gap: 20px;
   & img{
     border-radius: 50%;
   }
}
.Boxes .Box{
    
}