*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.container{
    width: 400px;
    background-color: white;
    box-shadow: 0px 0px 15px gray;
    border-radius: 8px;
    padding: 30px;
}
h1{
    text-align: center;
    margin-bottom: 10px;
}
p{
    text-align: center;
    color: gray;
    margin-bottom: 25px;
}
label{
    display: block;
    margin-top: 15px;
    font-weight: bold;
    font-size: 20px;
}
select, input{
    width: 100%;
    border: 1px solid gray;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
}
button{
    width: 100%;
    padding: 12px;
    margin-top: 25px;
    border: none;
    border-radius: 8px;
    background-color: blue;
    color: white;
    cursor: pointer;
}
button:hover {
    transition: ease-in-out 0.3s;
    background-color: #1c3fa0;
}
.hidden{
    display: none;
}
#result{
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(204, 223, 208);
    border-radius: 8px;
    text-align: center;
    color: rgb(7, 114, 7);
    font-weight: bold;
}